<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <h1><%= title %></h1>
    <form method="POST" action="">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" name="name" value="<%= locals.brand === undefined ? '' : brand.name %>" >
            <label for="origin">Country of origin:</label>
            <input type="text" id="origin" class="form-control" name="origin" value="<%= locals.brand === undefined ? '' : locals.brand.origin %>">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <% if(locals.errors) { %>
            <ul>
                <% errors.forEach((error) => { %>
                    <li><%= error.msg %></li>
                    <% }); %>
            </ul> 
            <% } %>
    </form>
  </div>
</body>

</html>