<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div class="header">
      <h1><%=brand.display_name %></h1>
      <% if(brand.origin !== 'false'){ %>
      <p class="headline-footnote"><%= brand.origin %></p>
      <% } %>
    </div>
    <div>
      <% if(brand.description){ %>
      <p class="description"><%= brand.description %></p>
      <% } %>
    </div>
    <div class="detail-buttons-container">
      <a href="<%= brand.url + '/update' %> "><button class="update">Update brand</button> </a>
      <a href="<%=brand.url + '/delete' %>"><button class="delete">Delete brand</button></a>
    </div>
    <h2 class="headline">Keyboards:</h2>
      <% if(brand_keyboards.length < 1){ %>
      <p class="nothing-found">This brand doesn't have any keyboards.</p>
      <% } else{ %> 
      <ul>
        <% brand_keyboards.forEach((keyboard) => { %>
          <a href="<%= keyboard.url %>" class="list-link">
          <div class="list-row">
            <li>
              <div class="list-top-row">
               <span class="strong"><%= keyboard.name %></span> 
              </div><span class="inline-footnote">($<%= keyboard.price %>)</span>
            </li>
          </div>
        </a>
      <% }); %>
      </ul>
      <% } %>
  </div>
</body>

</html>