<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div>
      <h1><%=brand.display_name %></h1>
    </div>
    <div>
      <% if(brand.origin !== 'false'){ %>
      <p><%= brand.origin %></p>
      <% } %>
    </div>
    <div>
      <% if(brand.description){ %>
      <p><%= brand.description %></p>
      <% } %>
    </div>
    <ul>
      <% if(!brand_keyboards){ %>
      <p>This brand doesn't have any keyboards.</p>
      <% } else{ %> <% brand_keyboards.forEach((keyboard) => { %>
      <li>
        <a href="<%= keyboard.url %>"> <%= keyboard.name %></a>
        <p><%= keyboard.description !== 'false' ? keyboard.description : 'No description' %></p>
      </li>
      <% }); %> <% } %>
    </ul>
    <p><a href="<%= brand.url + '/update' %> ">Update brand</a></p>
    <p><a href="<%=brand.url + '/delete' %>">Delete brand</a></p>
  </div>
</body>

</html>