<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('sidebar') -%>
    <div class="wrapper">
        <div class="header">
          <div class="headline">
            <h1 class="strong"><%- title %></h1>
          </div>
        <p>
          This is a  CRUD app for a fictional keyboard store to track its inventory. You can see what's in-stock; find info about brands, boards, or switches; mark keyboards as sold; upload photos; and more. 
        </p>
        </div>
      <% if(error){ %>
      <p class="error">Error getting data</p>
      <% } else{ %>
      <h2 class="strong">Current Inventory:</h2>
      <ul>
        <div class="list-row inactive">
        <li><span class="strong">In-stock:</span> <%= data.keyboard_instance_available_count %></li>
        </div>
        <div class="list-row inactive">
        <li><span class="strong">Returned:</span> <%= data.keyboard_instance_returned_count %></li>
        </div>
        <div class="list-row inactive">
          <li><span class="strong">Sold:</span> <%= data.keyboard_instance_sold_count %></li>
        </div>
      <h2 class="strong">Database:</h2>
        <div class="list-row inactive">
          <li><span class="strong">Keyboards:</span> <%= data.keyboard_count %></li>
          </div>
        <div class="list-row inactive">
          <li><span class="strong">Brands:</span> <%= data.brand_count %></li>
        </div>
        <div class="list-row inactive">
        <li><span class="strong">Switches:</span> <%= data.switch_count %></li>
        </div>
      </ul>
      <% } %>
    </div>
  </body>
</html>
