<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" />
    <title><%= title %></title>
</head>
<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div class="header">
      <h1>Instance: <%-keyboardinstance._id %></h1>
    </div>
    <ul>
      <a href="<%= keyboardinstance.keyboard.url %>" class="list-link">
        <div class="list-row">
          <li><span class="strong">Keyboard:</span> <%= keyboardinstance.keyboard.name %></li>
        </div>
      </a>
      <a href="<%= keyboardinstance.keyboard_switch.url %>" class="list-link">
      <div class="list-row">
         <li><span class="strong">Switch:</span> <%- keyboardinstance.keyboard_switch.display_name %></li>
         </div>
        </a>
        <div class="list-row inactive">
          <li><span class="strong">Status:</span>
            <% if (keyboardinstance.status === 'In-stock') { %> 
              <span class="instance-status in-stock"><%- keyboardinstance.status %></span>
              <% } %> 
              <% if (keyboardinstance.status === 'Returned') { %> 
                <span class="instance-status returned"><%- keyboardinstance.status %></span>
              <% } %> 
              <% if (keyboardinstance.status === 'Sold') { %> 
                <span class="instance-status sold"><%- keyboardinstance.status %></span>
              <% } %> 
          </li>
          </div>
          <% if (keyboardinstance.date_sold) { %> 
          <div class="list-row inactive">
          <li><span class="strong">Date sold:</span> <%- keyboardinstance.date_sold_formatted %>
          </li>
          </div>
          <% } %>

    </ul>
    <div class="detail-buttons-container">
      <a href="<%= keyboardinstance.url + '/update' %> "><button class="update">Update instance</button></a>
      <a href="<%=keyboardinstance.url + '/delete' %>"><button class="delete">Delete instance</button></a>
    </div>
  </div>
</body>

</html>