<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>
<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div>
      <h1>ID: <%=keyboardinstance._id %></h1>
    </div>
    <ul>
     <li><a href="<%= keyboardinstance.keyboard.url %>"><%= keyboardinstance.keyboard.name %></a></li>
      <li><p>Status: <%= keyboardinstance.status  %> </p>
      </li>
      <li><p>Date sold: <%= keyboardinstance.date_sold ? keyboardinstance.date_sold_formatted : 'N/A' %>
      </li>
    </ul>
  </div>
</body>

</html>