<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>
<!-- BUG: Need to only show switches available for that keyboard -->
<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <h1><%= title %></h1>
    <form method="POST" action="">
        <div class="form-group">
            <label for="name">Keyboard:</label>
            <select id='book' class='form-control' placeholder="Select a keyboard" name="keyboard" required="true">
                <% if (!locals.keyboardinstance) { %>
                    <option value="" selected disabled>Select a keyboard</option>
                    <% } %>
                <% keyboard_list.forEach((keyboard) => {  %>
                    <% if (locals.keyboardinstance) { %>
                    <option value="<%= keyboard._id %>" <%= (keyboard._id.toString() == locals.selected_keyboard ? 'selected' : selected="false") %> ><%= keyboard.name %></option> 
                    <% } else { %>
                        <option value="<%= keyboard._id %>" ><%= keyboard.name %> </option> 
                    <% } %>
                    <% }) %>
            </select>
            <label for="keyboard_switch">Switch:</label>
            <select id='keyboard_switch' class='form-control' name="keyboard_switch" required="true">
                <% if (!locals.keyboardinstance) { %>
                <option value="" selected disabled>Select a switch</option>
                <% } %>
                <% keyboard_switch_list.forEach((keyboard_switch) => {  %>
                    <% if (locals.keyboardinstance) { %>
                    <option value="<%= keyboard_switch._id %>" <%= (keyboard_switch._id.toString() === locals.selected_switch ? 'selected' : selected="false") %> ><%= keyboard_switch.display_name %></option> 
                    <% } else { %>
                        <option value="<%= keyboard_switch._id %>" ><%= keyboard_switch.display_name %> </option> 
                    <% } %>
                    <% }) %>
            </select>
            <label for="status">Status:</label>
            <select id="status" class="form-control" placeholder="Select status" name="status" required="true">
            <% if (locals.keyboardinstance) { %>
                <option value="In-stock" <%= (keyboardinstance.status === 'In-stock' ? 'selected' : selected="false") %> >In-stock</option>
                <option value="Returned" <%= (keyboardinstance.status === 'Returned' ? 'selected' : selected="false") %>>Returned</option>
                <option value="Sold" <%= (keyboardinstance.status === 'Sold' ? 'selected' : selected="false") %>>Sold</option>
                <% } else { %>
                    <option value="In-stock">In-stock</option>
                    <option value="Returned">Returned</option>
                    <option value="Sold">Sold</option>
                <% } %>
            </select>
            <% if (locals.keyboardinstance) { %>
                <label for="date_sold">Date when sold:</label>
                <% if (locals.keyboardinstance.date_sold) { %>
                      <input id='date_sold' class='form-control' type="date" name="date_sold" value="<%= locals.keyboardinstance.date_sold ? locals.keyboardinstance.date_sold_year_first : ''%>" %>">
                    <% } else { %>
                        <input id='date_sold' class='form-control' type="date" name="date_sold" value="<%= keyboardinstance.date_sold %>">
                    <% } %>
            <% } %>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <% if(locals.errors) { %>
            <ul>
                <% errors.forEach((error) => { %>
                    <li><%= error.msg %></li>
                    <% }); %>
            </ul> 
            <% } %>
    </form>
  </div>
</body>

</html>