<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div class="header">
      <h1><%= keyboard.brand.display_name %> <span class="strong"><%= keyboard.name %> </span>
      </h1>
        <% if(keyboard.price !== 'false'){ %>
        <p class="headline-footnote">$<%= keyboard.price %></p>
        <% } %>
    </div>
    <div class="description">
      <% if(keyboard.description !== 'false'){ %>
      <p><%= keyboard.description %></p>
      <% } %>
    </div>
    <div class="detail-buttons-container">
      <a href="<%= keyboard.url + '/update' %> "><button class="update detail-button">Update</button></a>
      <a href="<%= keyboard.url + '/delete' %> "><button class="delete detail-button">Delete</p></button></a>
    </div>
    <div>
      <h2 class="header">Available Switches:</h2>
          <% if(keyboard_instances.length){ %>
          <ul>
            <% keyboard_instances.forEach((instance) => { %>
              <a href="<%= instance.keyboard_switch.url %>" class="list-link">
              <div class="list-row">
              <li>
               <span class="strong"><%= instance.keyboard_switch.display_name %></span>
              </li>
            </div>
          </a>
              <% }) %>
        </ul>
            <% } else { %>
              <li class="nothing-found">No switches available</li>
              <% } %>
  
      <ul>
    </ul>
    </div>
    <h2>Available Inventory:</h2>
      <% if(!keyboard_instances){ %>
      <p class="nothing-found">These keyboards aren't available currently.</p>
      <% } else{ %> 
      <ul>
        <% keyboard_instances.forEach((instance) => { %>
          <a href="<%= instance.url %>" class="list-link">
            <div class="list-row">
            <li>
              <div class="list-row-top">
                <span class="strong"><%= instance.keyboard.name %></span> (<%= instance.keyboard_switch.display_name %>)
              </div>
              <div class="list-row-bottom">
                <span class="inline-footnote">ID: <%= instance._id %></span>
               </div>
            </li>
            </div>
          </a>
      <% }); %>
    </ul>
    <% } %>
  </div>
</body>

</html>