<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div class="header">
    <h1><%= title %></h1>
    <% if (locals.keyboard_instances.length) { %>
    <p class="error">You must delete a keyboard's instances before deleting it.</p>
    </div>
    <div>
        <h3>Instances:</h3>
        <ul>
            <% keyboard_instances.forEach((instance) => { %> 
              <a href="<%= instance.url %>" class="list-link">
              <div class="list-row">
                <li>
                <div class="list-row-top">
                    <%= instance.keyboard.brand.display_name %> <span class="strong"><%= instance.keyboard.name %></span> (<%= instance.keyboard_switch.display_name %>)
                  </div>
                    <span class="inline-footnote">ID: <%= instance._id %></span>
                  </li>
                </div>
              </a>
            <% })  %> 
        </ul>
    </div> 
    <% } else { %>
        <p class="description">Do you really want to delete this keyboard?</p>
        <form method="POST" action="">
            <div class="form-group">
              <div class="detail-buttons-container">
                <input id="keyboard_id"class='form-control' type="hidden" name="keyboard_id" required="true" value="<%= keyboard._id %>">
                <button class="delete" type="submit">Delete</button>
              </div>
            </div>
        </form>
        <a href="<%= keyboard.url  %>" class="text-link">Take me back!</a>
        <% } %> 
  </div>
</body>

</html>