<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" />
    <title><%- title %></title>
  </head>
  <body>
    <%- include('sidebar') -%>
    <div class="wrapper">
      <div><h1><%- title %></h1></div>
        <% if(!keyboard_list){ %>
        <p>No keyboards available</p>
        <% } else{ %>
        <ul>  
          <% keyboard_list.forEach((keyboard) => { %>
            <a href="<%= keyboard.url %>" class="list-link">
            <div class="list-row">
            <li>
              <span><%- keyboard.brand.display_name %></span> 
              <span class="strong"><%- keyboard.name %></span>
            </li>
          </div>
        </a>
        <% }); %>
        </ul>
        <% } %>
    </div>
  </body>
</html>
