<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" />
    <title><%- title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <h1 class="header"><%- title %></h1>
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name*:</label>
            <input type="text" id="name" class="form-control" name="name" value="<%- locals.keyboard === undefined ? '' : keyboard.name %>" autocomplete="off">
            <label for="brand">Brand*:</label>
            <select id="brand" class="form-control" name="brand" required autocomplete="off">
              <% if (!locals.keyboard) { %> 
                <option value="" selected disabled>Select a brand</option>
              <% } %>
              <% brands.forEach((brand) => {  %>
                <% if (locals.keyboard) { %>
                <% if (brand) { %>
                  <option value="<%-brand._id%>" <%- (brand._id.toString() == locals.keyboard.brand._id.toString() ? 'selected' : selected="false") %> ><%- brand.display_name %></option> 
                    <% } %>
                    <% } else { %>
                    <option value="<%- brand._id %> "><%- brand.display_name %></option> 
                    <% } %>
                <% })  %>
        </select>
            <label for="description">Description:</label>
            <textarea type="text" id="description" class="form-control" name="description" value=""><%- locals.keyboard === undefined ? '' : locals.keyboard.description %></textarea>
            <label for="price">Price*:</label>
            <input type="number" id="price" class="form-control" name="price" value="<%- locals.keyboard === undefined ? '' : locals.keyboard.price %>">
      </div>
      <div>
        <label for="image">Upload Image:</label>
        <input type="file" id="image"
               name="image" value="" accept=".jpg, .jpeg, .png" >
              </div>
      <button class="update" type="submit">Submit</button>

        <% if( locals.errors) { %>
            <ul>
                <% errors.forEach((error) => { %>
                    <li class="error"><%= error.msg %></li>
                    <% }); %>
            </ul> 
            <% } %>
        </div>
    </form>
  </div>
</body>

</html>