<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div>
      <h1><%= keyboard.brand.display_name %> <%= keyboard.name %></h1>
    </div>
    <div>
      <% if(keyboard.description !== 'false'){ %>
      <p><%= keyboard.description %></p>
      <% } %>
    </div>
    <div>
      <% if(keyboard.price !== 'false'){ %>
      <p>$<%= keyboard.price %></p>
      <% } %>
    </div>
    <div>
      <h2>Switches:</h2>
        <ul>
          <% if(keyboard.switches.length){ %>
            <% keyboard.switches.forEach((keyboard_switch) => { %>
              <li>
                <a href="<%= keyboard_switch.url %>"><%= keyboard_switch.display_name %></a>
              </li>
              <% }) %> 
            <% } else { %>
              <li>No switches available</li>
              <% } %>
        </ul>
  
      <ul>
    </ul>
    <hr>
    <p><a href="<%= keyboard.url + '/update' %> ">Update Keyboard</a></p>
    <p><a href="<%= keyboard.url + '/delete' %> ">Delete Keyboard</a></p>
    </div>
    <ul>
      <% if(!keyboard_instances){ %>
      <p>These keyboards aren't available currently.</p>
      <% } else{ %> <% keyboard_instances.forEach((instance) => { %>
      <li>
        <%= instance.keyboard.name %> -- <%= instance.keyboard_switch.display_name %> (ID: <a href="<%= instance.url %>"><%= instance._id %></a>)
      </li>
      <% }); %> <% } %>
    </ul>
  </div>
</body>

</html>