<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/images/favicon-16x16.png" />
    <title><%- title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div class="headline">
      <h1><%- keyboard_switch.display_name %></h1>
    </div>
    <% if (keyboard_switch.description) { %>
      <div class="description">
        <p><%- keyboard_switch.description %></p>
      </div>
    <% } %>
      <% if(!switch_instances){ %>
      <p class="nothing-found">These switches aren't available on any keyboards currently.</p>
      <% } else{ %> 
        <ul>
        <% switch_instances.forEach((instance) => { %>
          <a href="<%= instance.url %>" class="list-link">
            <div class="list-row">
              <div class="list-row-top">
            <li>
            <%- instance.keyboard.brand.display_name %> <span class="strong"><%- instance.keyboard.name %></span>
            </div>
            <div class="list-row-bottom">
            <span class="inline-footnote">($<%- instance.keyboard.price %>)</span>
            </div>
          </li>
          </div>
          </a>
      <% }); %>
        </ul>
      <% } %>
      <div class="detail-buttons-container">
        <a href="<%= keyboard_switch.url + '/update' %> "><button class="update">Update switch</button></a>
        <a href="<%=keyboard_switch.url + '/delete' %>"><button class="delete">Delete switch</button></a>
      </div>
  </div>
</body>

</html>