<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="shortcut icon" href="#" />
  <title><%= title %></title>
</head>

<body>
  <%- include('sidebar') -%>
  <div class="wrapper">
    <div>
      <h1><%= keyboard_switch.display_name %></h1>
    </div>
    <div>
      <p><%= keyboard_switch.description %></p>
    </div>
    <ul>
      <% if(!switch_instances){ %>
      <p>These switches aren't available on any keyboards currently.</p>
      <% } else{ %> <% switch_instances.forEach((instance) => { %>
      <li>
        <a href="<%= instance.url %>"><%= instance.keyboard.brand.display_name %> <%= instance.keyboard.name %></a>
      </li>
      <% }); %> <% } %>
    </ul>
    <p><a href="<%= keyboard_switch.url + '/update' %> ">Update switch</a></p>
    <p><a href="<%=keyboard_switch.url + '/delete' %>">Delete switch</a></p>
  </div>
</body>

</html>